* {
  background-color: #666666;
}

body {
  background-color: #666666
  font-family: "Open Sans", sans-serif;
}

h1 {
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

h1.name {
  font-family: "Roboto Mono", monospace;
  font-size: 50px;
  font-weight: bold;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

h2.title {
  color: #cccccc;
  font-family: "Tiro Gurmukhi", serif;
  text-align: center;
}

ul {
  margin: 0 0 25px;
  padding: 10;
}

li {
  color: #cccccc;
  font-size: 18px;
  font-weight: strong;
  height: 20px;
  line-height: 2;
  list-style: none;
}

.form-select {
  width: 50px;
  margin-top: 5px;
}

.weather-form {
  border: 3px solid #cccccc;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  max-width: 550px;
}

.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: rgb(50, 50, 50);
  font-size: 70px;
  font-weight: 500;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
